:root {
    --background-color: #2F4F4F;
    --text-color: #B9F2FF;
    --image-color: #FF69B4;
    --font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    text-align: center;
    font-size: 30px;
    margin: 0;
}

article {
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}

.page-wrapper {
    padding: 20px;
}

.work-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.work-item {
    width: calc(25% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-item img {
    width: 250px;
    height: 250px
    border-radius: 25px;
}

.idplaceholder1,
.idplaceholder2,
.idplaceholder3,
.idplaceholder4,
.idplaceholder5,
.idplaceholder6,
.idplaceholder7,
.idplaceholder8 {
    width: 250px;
    height: 250px;
    border-radius: 25px;
    filter: brightness(0.8) sepia(1) hue-rotate(300deg);
}
